body{
    background-color: rgba(255, 179, 255, 0.349);
    margin: 0px;
}
.container{
    background-color: rgba(100, 217, 253, 0.76);
    align-items: center;
    display: flex;
    
}
.container__left{
    display: flex;
    justify-content: left;
    font-size: 50px;
}
.container__center{
    display: flex;
}
.menu{
    padding: 20px;
}
.github__z{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.github{
    padding-bottom: 20px;
    background-color: rgba(133, 221, 248, 0.507);
    border-radius: 20px;
}
.github__img{ 
    width: 30%;
}
.github__container {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding-left: 150px;
    padding-right: 150px;
}
.git{
    background-color: rgba(130, 235, 253, 0.507);
    border-radius: 20px;
}
.git__z{
    display: flex;
    justify-content: center;
}
.git__container{
   display: flex;
   justify-content: center;
}
.git__t{
   font-size: 20px;
}
